body{
    background-color:aqua;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.calculator{
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:azure;
    height: 700px;
    width: 520px;
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 20px;
}

.calculator .screen{
    margin: 40px auto;
    height: 150px;
    width: 450px;
    background-color:lightblue;
    border: 5px solid rgb(5, 18, 2);
    box-sizing: border-box;
    border-radius: 15px;
}

.calculator .buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 auto;
    justify-content: center;
}

.calculator .buttons button{
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}
#clear,#backspace{
    height: 50px;
    width: 215px;
}

#seven,#eight,#nine,#division,#four,#five,#six,#multiply,#one,#two,#three,#subtract,#zero,#point,#equal,#add{
    height: 50px;
    width: 97.5px;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    font-size: 25px;
    background-color: aliceblue;

    position: absolute;
    bottom: 0;   
}